@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;600;700&display=swap');

body {
    font-family: 'Sarabun', sans-serif;
    font-size: 14px;
    color: #464646;
    background: #f3f3f3;
    font-weight: 300;
    text-align: justify;
}

img {
    max-width: 100%;
}

a {
    color: #464646;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:hover {
    color: #df0023;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

a.more {
    display: inline-block;
    color: #ce0020;
    border: 1px solid #ce0020;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #fff;
    line-height: 100%;
}

a.more:hover {
    background: #ce0020;
    color: #fff;
}

section {
    padding: 40px 0;
    position: relative;
}

section .sectionHeading,
.titleUnderline {
    position: relative;
    /* padding-bottom: 35px; */
}

/* section .sectionHeading {
    font-size: 30px;
    margin-bottom: 25px;
} */

.col-custom {
    flex: 0 0 auto;
    width: 20%;
}



section .sectionHeading span {
    font-weight: 300;
}

section .sectionHeading.centered,
.titleUnderline.centered {
    text-align: center;
}

section .sectionHeading.centered:before,
.titleUnderline.centered:before {
    left: 50%;
    transform: translateX(-50%);
}

section .sectionSubHeading {
    font-weight: 300;
    font-size: 20px;
}

ul.owl-carousel {
    margin-left: 18px;
    list-style: square;
    padding: 0;
}

ul.owl-carousel li:not(:last-child) {
    margin-bottom: 8px;
}

.btn {
    font-weight: 400;
}

/* ----------------- */


.title-bgWhite {
    text-align: center;
    color: #C51D23;
    font-size: 24px;
    width: 100%;
}

.img-bgWhite {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.btnWhite {
    background: #fff;
    border: 2px solid #CB1D23;
    color: #CB1D23;
    font-size: 20px;
}

.card-img-top {
    width: 100%;
}

.container1 {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.container1 img {
    vertical-align: middle;
}

.container1 .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.container1 a {
    color: #fff;
}

.btnArrow {
    color: #CB1D23;
    font-size: 20px;
    display: flex;
    justify-content: end;
}

.btnArrow:hover {
    color: #CB1D23;
}

.partners {
    background-color: #FFFFFF !important;
}

/* -------------------------------- */

.btnRed {
    background: #dd0023;
    color: #fff;
}

.btnRed:hover {
    color: #fff;
}

.btnWhite:hover {
    border-color: #df0023;
    color: #df0023;
}

.bgArrow:before {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: 70px;
    height: 30px;
    z-index: 1;
}

.bgWhite {
    background: #fff;
}

.bgGrey {
    background: #f3f3f3;
}

.bgDark {
    background: #333;
}

.nav-tabs {
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    background: #fff;
}

.nav-tabs .nav-item:first-child button {
    border-radius: 5px 0 0 5px;
}

.nav-tabs .nav-item:last-child button {
    border-radius: 0 5px 5px 0;
}

.nav-tabs .nav-item:not(:last-child) {
    border-right: 1px solid #c2c2c2;
}

.nav-tabs .nav-item .nav-link {
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 0;
    background: none;
    color: #23253a;
    font-weight: 600;
    text-transform: uppercase;
    padding: 25px 10px;
    height: 100%;
}

.nav-tabs .nav-item .nav-link.active {
    background: #f3f3f3;
    color: #ce0020;
}

.carousel-dark .carousel-indicators button.active,
.carousel-indicators button.active {
    background-color: #df0023;
}

.card {
    border: none;
}

.newsHighlights .item {
    margin-bottom: 25px;
}

/* .newsHighlights .card {
    height: 100%;
} */

.newsHighlights .card .card-text {
    margin-bottom: 30px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-tabs {
    border: none;
    background: none;
}

.nav-tabs .nav-link {
    padding: 10px 0;
    box-shadow: none;
    font-size: 18px;
    color: #464646;
    border-bottom: 2px solid transparent;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: none;
    border-width: 0 0 2px 0;
    border-bottom-color: #ce0020;
    font-weight: 700;
    color: #ce0020;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.nav-tabs .nav-link:not(:first-child) {
    margin-left: 30px;
}




.owl-carousel {
    position: relative;
}

.owl-carousel .item a {
    display: block;
    background: #fff;
    margin: 0 0 0 40px;
    filter: grayscale(1);
    color: #000000;
}

.owl-carousel .item a:hover {
    filter: grayscale(0);
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    width: 35px;
    height: 61px;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    background: url(../img/icon-arrow.png) no-repeat center center / contain;
}

.owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: -40px;
    transform: translateY(-50%) rotate(180deg)
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background-color: none;
}

.owl-carousel .owl-nav button span {
    display: none;
}

.owl-carousel .owl-item img {
    display: block;
    width: 80%;
}

.owl-carousel .item .col-auto {
    width: 20%;
}

.owl-carousel .item .col-custom {
    width: 20%;
    justify-content: center !important;
    display: flex;
    background: #fff;
    padding: 15px 30px;
    filter: grayscale(1);
    background: url(../img/bg_custom.png) left top no-repeat, url(../img/bg_custom-1.png) top left no-repeat;
    position: relative;
    transform: rotate(45deg);

}

.owl-carousel .item {
    margin: 80px 60px;

}

.owl-carousel .item .col-custom img {
    width: 100%;
    /* height: 100px; */
    position: relative;
    transform: rotate(-45deg);
    margin-top: 20px;
    margin-left: -50px;
}

.carousel-indicators {
    width: 100%;
    margin: 0;
    justify-content: end;
    padding: 10px 20px;
}

.lineSeparated {
    border-top: 1px solid #ddd;
    padding: 20px 0;
}


/*========================== HEADER ==========================*/
header {
    background-color: rgb(255, 255, 255);
    inset: 0px 0px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    overflow: visible;
    /* padding: 24px 20px; */
    position: sticky;
    z-index: 999;
}

header .top {
    padding: 10px 30px;
    background: linear-gradient(225deg, #C51D23 13.85%, #E01B22 85.21%);
    text-align: center;
    color: #fff;
    font-weight: 700;
}

header .navbar {
    background: #fff;
    padding: 0 50px;
}

header .navbar .navbar-brand {
    margin: 0;
    padding: 0;
}

header .navbar .navbar-brand img {
    width: 213px;
}

header .navbar.navbar-expand-md .nav-item:not(:last-child) {
    margin-right: 40px;
}

header .navbar.navbar-expand-md .nav-link {
    padding: 0;
    color: #FFFFFF;
    font-weight: 400;
    position: relative;
    font-size: 18px;
    border-bottom: 3px solid transparent;
    margin-bottom: 20px;
    transition-property: font-weight;
    transition-duration: 0.5s;
}


header .navbar.navbar-expand-md .nav-link.active,
header .navbar.navbar-expand-md .nav-link.show {
    color: #cf0020;
    border-bottom: 3px solid #cf0020;
}

header .navbar.navbar-expand-md .nav-link:hover {
    color: #FFFFFF;
    transition: 0.3s;
    border-bottom: 3px solid #cf0020;
    font-weight: 900;
}

header .navbar-nav .dropdown-menu {
    background: rgb(87 87 87 / 50%);
    border-radius: 0;
    margin-top: 10px;
    padding: 0;
}

header .navbar-nav .dropdown-menu .dropdown-item {
    color: #fff;
    font-size: 14px;
    padding: 10px 20px 10px 15px;
    border-left: 5px solid transparent;
}

header .navbar-nav .dropdown-menu .dropdown-item:hover {
    background: #fff;
    color: #d00020;
    border-left-color: #d00020;
}

header .navbar .dropdown-toggle:after {
    display: none;
}


/*========================== HOMEPAGE ==========================*/

#homepage .carousel .carouselContent {
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    color: #fff;
}

#homepage .carousel .carouselContent .title {
    font-size: 56px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 700;
}

#homepage .carousel .carouselContent .title span {
    text-transform: capitalize;
    font-size: 56px;
    font-weight: 400 !important;
}

#homepage .carousel .carouselContent .subTitle {
    margin: 40px 0;
}

#homepage .carousel .more {
    background: #ce0020;
    color: #fff;
    font-size: 20px;
}


/*========================== ABOUT PAGE ==========================*/
/* .container2 {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  } */

.container2 img {
    vertical-align: middle;
}

.container2 .content h1 {
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    /* font-size: 56px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item #aboutPage .team .listTeam {
    margin-top: 60px;
}

#aboutPage .team .listTeam .sectionHeading {
    font-size: 22px;
}

.team .listTeam .item {
    background: #fff;
    padding: 10px 10px 0;
    /* border: 1px solid #c2c2c2; */
    margin: -1px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
    margin: 0 10px;
}

#aboutPage .team .listTeam .name {
    text-transform: uppercase;
    font-size: 16px;
    margin: 15px 0 5px;
}

.team .listTeam .social {
    /* border-bottom: 3px solid #df0023; */
    font-size: 25px;
    margin-top: 15px;
    padding-bottom: 10px;
    margin: 15px 10px 0;
}

.team .listTeam .social i {
    color: #aaaaaa;
}

    .team .listTeam .social i:hover {
    color: #1d9bf0;
}

#aboutPage .team .listTeam .social a {
    display: inline-block;
    margin: 0 10px;
    color: #1d9bf0;
    ;
}

#aboutPage .overview .item:nth-child(odd) .desc {
    padding-left: 20px;
}

#aboutPage .overview .item:nth-child(even) .desc {
    padding-right: 20px;
}

#aboutPage .overview .item:not(:first-child) .desc {
    padding-top: 20px;
}

/* ---------------- */
/* .icon-about {
    width: 5%;
} */

/* .text-uppercase span {
    margin-left: -46px;
    font-size: 32px;
    font-weight: 700 !important;
} */
.overview  h2{
    background-image:url(../img/icon-about.png);
    background-repeat: no-repeat;
    position: relative;
    display: block;
    height: 80px;
}
.overview  h2 span{
    font-weight: 700;
    margin: 35px ;
    display: contents;
}
.text-uppercase1 {
    font-size: 30px;
    font-weight: 700 !important;
    justify-content: left;
}
#overview .text-overview {
    margin: 50px 0;
}

#overview .text-overview span {
    font-size: 20px;
}

.container-lg #ourmission {
    background-color: #F3F3F3;
    background-repeat: repeat-x;
    background-position: left;
    padding-bottom: 50px;
    width: 100%;
    /* border: 2px solid greenyellow; */
}

/* .container-lg #ourmission::after {
    box-sizing: border-box;
  } */

/* .bg-ourmission {
width: 100%;
    padding: 30px;
    color: #ffffff;
    background-color: steelblue;
  } */
#ourcorevalues .desc h2 {
    margin-top: -60px;
    position: relative;
    justify-content: end;
    display: flex;
    /* margin-top: 20px; */
}

#ourcorevalues,
#ourmission,
.desc h2 span {
    margin-top: 20px;
}

#ourmission .desc h2 {
    margin-top: -60px;
    position: relative;
    justify-content: end;
    display: flex;
}

.text-our-mission img {
    border: 1px solid #df0023;
    border-radius: 50px;
    box-shadow: 1px 1px 6px #df0023;
    padding: 2px;
    /* margin: 0 50px 50p 0; */
}

.text-our-mission {
    margin-top: 30px;
}

#ourvision .desc h2 {
    margin-bottom: 20px;
    margin-top: -60px !important;
}

#ourcorevalues {
    padding-top: 30px;
    /* margin-top: 30px; */
}


#ourcorevalues .our-core {
    /* border-bottom: 1px solid #464646;
    border-radius:50px; */
    border-top-right-radius: 20px #C4C4C4;
    /* color: #C4C4C4; */
}


#ourcorevalues .our-core p {
    color: #C4C4C4;
    font-size: 72px;
    font-weight: 700;
    text-align: justify;
    margin-bottom: -55px;
}

#ourcorevalues .our-core h5 {
    padding-left: 20px;
}

#ourcorevalues .our-core ul li {
    padding: 10px;
}

#businesssectors .titleUnderline {
    font-weight: 700;
    font-size: 24px;
}

.btn-btnWhite {
    color: #D91F26;
    font-size: 20px;
    font-weight: 450;
}

#businesssectors .card {
    border-radius: 20px;
}

#businesssectors .card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#businesssectors .card:hover {
    box-shadow: 5px 5px 5px 5px #aaaaaa;
    transition: 1s;
}

#executive {
    background-color: #FFFFFF;
}

#executive strong {
    font-weight: 700;
}

#executive .border-icon {
    margin-top: -35px;
}

#ecosystem {
    padding-bottom: 0;
}

#ecosystem img {
    width: 100%;
    vertical-align: middle;
}

#ecosystem .content {
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    margin-left: 50px;
    width: 50%;
    margin-bottom: 6%;
    justify-content: center;
}

/* ----------- */
/*========================== REPORT PAGE ==========================*/

#reportPage .reportNav {
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 20px;
}

#reportPage table td {
    width: 33.333%;
}

#reportPage table td:nth-child(2) {
    text-align: center;
}

#reportPage table td:nth-child(3) {
    text-align: right;
}

#reportPage table td img {
    width: 100px;
}

#reportPage table td a {
    font-size: 20px;
    display: inline-block;
}

#reportPage table td a:not(:first-child) {
    margin-left: 30px;
}

#reportPage .table>:not(caption)>*>* {
    padding: 15px 0;
}

#reportPage .form-select {
    background-color: transparent;
}

#reportPage .form-select:focus {
    box-shadow: none;
    border: none;
}


/*========================== NEWS PAGE ==========================*/

#mediaNews .newsItem {
    margin-bottom: 20px;
}

#mediaNews .newsItem.highlight {
    margin-bottom: 30px;
}

#mediaNews .newsItem.highlight .newsThumb {
    display: block;
    margin-bottom: 20px;
}

#mediaNews .newsItem .newsTitle {
    font-size: 20px;
    margin-bottom: 10px;
}
/* ---------- */
.miniSize {
    font-size: 12px;
}
.investor p{
    font-size: 16px ;
    font-weight: 600;
} 
.investor h5{
    font-weight: 700;
    font-size: 24px;
}
/* #mediaNews .carousel-item{
    flex: left;
} */
/* ----------- */
/*========================== CONTACT PAGE ==========================*/

#contactPage .contactForm ul li {
    margin: 10px 0;
}

#contactPage .contactForm ul li .label {
    font-weight: 600;
    color: #bf0223;
    flex-shrink: 0;
    width: 80px;
}

#contactPage .branch .item {
    border: 1px solid #c2c2c2;
    margin-right: -1px;
}

#contactPage .branch .item ul {
    padding: 10px;
}

#contactPage .branch .item ul li {
    padding: 5px 10px;
}

#contactPage .branch .item ul li .label {
    flex-shrink: 0;
    width: 25px;
    font-weight: 600;
}


/*========================== FOOTER ==========================*/

footer {
    background: #000000 !important;
    padding: 40px 0;
    color: #FFFFFF;
}

footer a {
    color: #FFFFFF;
}

footer .footerLogo {
    width: 300px;
    display: block;
    margin: 0 30px 0 0;
    position: relative;
    display: inline-block;
    background: black;
}

footer .title {
    position: relative;
    margin-bottom: 15px;
}

footer .title:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 1px;
    background: #464646;
    margin-left: 15px;
}

footer .title span {
    display: inline-block;
    background: #fff;
    position: relative;
    padding-right: 5px;
    color: #464646;
}

footer .title.text-red:before {
    background: #df0023;
    bottom: 50px !important;
}

footer .title.text-red span {
    color: #df0023;
}

footer .menuFooter ul li:not(:last-child) {
    margin-bottom: 8px;
}

footer .menuFooter ul ul {
    margin: 8px 0 0;
}

footer .menuFooter ul ul li a {
    display: block;
    position: relative;
    padding-left: 15px;
    font-weight: 200;
}

footer .menuFooter ul li a,
footer .menuFooter ul li.parent span {
    font-weight: 900;
}

footer .social {
    justify-content: right;
    margin-bottom: -45px;
}

footer .social .item {
    display: inline-flex;
    width: 45px;
    height: 45px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-right: auto;
}

footer .social .item:hover {
    color: #e33651;
    border-color: #e33651;
}

footer .companyInfo {
    margin-top: 30px;
}

footer .companyInfo ul li {
    margin: 8px 0;
    position: relative;
    padding-left: 35px;
}

footer .companyInfo ul li .icon {
    position: absolute;
    left: 0;
    top: 0;
}

footer .copyright {
    background: #d7d7d7;
    padding: 15px;
    margin-top: 30px;
}


/*========================== RESPONSIVE ==========================*/

@media (max-width: 1440px) {}

@media (max-width: 1366px) {}

@media (max-width: 1180px) {
    #homepage .carousel .carouselContent {
        bottom: 30px;
    }

    #homepage .carousel .carouselContent .title {
        font-size: 60px;
    }

    #homepage .carousel .carouselContent .subTitle {
        margin: 20px 0;
        font-size: 16px;
        font-weight: 400;
    }

    footer .footerLogo {
        margin: 0 auto 30px;
        width: 250px;
    }
}

@media (max-width: 992px) {
    header .navbar {
        padding: 10px;
        width: 100%;
    }

    header .navbar .navbar-brand img {
        width: 213px;
    }

    .owl-carousel .owl-nav button.owl-next {
        right: 0;
    }

    .owl-carousel .owl-nav button.owl-prev {
        left: 0;
    }

    #homepage .carousel .carouselContent {
        bottom: 30px;
    }

    #homepage .carousel .carouselContent .title {
        font-size: 50px;
    }

    #homepage .carousel .carouselContent .subTitle {
        font-size: 15px;
    }

    #aboutPage .newsHighlights {
        padding-bottom: 20px;
    }

    #aboutPage .newsHighlights .item {
        margin-bottom: 20px;
    }

    .owl-carousel .item .col-auto {
        width: 25%;
    }
    .text-uppercase1 span {
        margin-left: -25px;
        font-size: 30px;
        font-weight: 700 !important;
        justify-content: left;
    }
    #ecosystem .content {
        color: #000000;
        position: absolute;
        bottom: 0;
        margin-left: 0;
        width: 100%;
        margin-bottom: 0;
        text-align: center;
        display: contents;
    }

    
}

@media (max-width: 768px) {}

@media (max-width: 576px) {
    .icon-about {
        width: 15%;
    }

    .owl-carousel .item a {
        margin: 5px;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        width: 15px;
    }

    .newsHighlights .card {
        height: auto;
        margin-bottom: 15px;
    }

    section {
        padding: 20px 0;
    }

    section .sectionHeading {
        font-size: 25px;
    }

    header .navbar-toggler:focus {
        box-shadow: none;
    }

    header .navbar-collapse {
        padding-top: 20px;
    }

    header .navbar.navbar-expand-md .nav-item,
    header .navbar.navbar-expand-md .nav-item:not(:last-child) {
        margin: 0 0 10px;
    }

    #homepage .carousel .more {
        padding: 5px 15px;
    }

    #homepage .carousel .carouselContent {
        bottom: 10px;
    }

    #homepage .carousel .carouselContent .title {
        font-size: 25px;
    }

    #homepage .carousel .carouselContent .subTitle {
        font-size: 16px;
        margin: 10px;
        font-weight: 400 !important;
    }

    #aboutPage .overview .item:not(:last-child) {
        margin-bottom: 20px;
    }

    #aboutPage .overview .item:nth-child(odd) .desc,
    #aboutPage .overview .item:nth-child(even) .desc {
        padding: 10px 0 0;
    }

    #mediaNews .newsItem .newsThumb,
    #mediaNews .newsItem.highlight .newsThumb {
        margin-bottom: 10px;
    }

    #mediaNews .newsItem,
    #mediaNews .newsItem.highlight {
        margin-bottom: 20px;
    }

    footer .footerLogo {
        width: 200px;
    }

    footer .social {
        justify-content: center;
        margin: auto;
    }

    footer .social .item {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }

    footer .copyright {
        margin-top: 10px;
        text-align: center;
        font-size: 13px;
    }
    #ourcorevalues, #ourmission, .desc h2 span{
        margin-top: 0 !important;
    }
    .text-uppercase span{
        margin-left: -30px;
    }
 
}